@import url("/lms/tailwind.css");
@import url("/lms/application/actiontext.css");
@import url("/lms/application/filepond.css");
@import url("/lms/application/filepond-plugin-image-preview.css");

@font-face {
    font-family: "krungthai_fastregular";
    src: url("/Krungthai/KrungthaiFastWeb-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "krungthai_fastbold";
    src: url("/Krungthai/KrungthaiFastWeb-Bold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html, body {
    font-family: krungthai_fastregular;
}