@import url("/lms/tailwind.css");
@import url("/lms/application/actiontext.css");
@import url("/lms/application/filepond.css");
@import url("/lms/application/filepond-plugin-image-preview.css");

:root {
  color-scheme: only light;
}

@font-face {
  font-family: "krungthai_fastregular";
  src: url("/Krungthai/KrungthaiFastWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "krungthai_fastbold";
  src: url("/Krungthai/KrungthaiFastWeb-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "krungthai_fastregular", Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333333;
}

input,
trix-editor {
  border: 1px solid #bbbbbb !important;
  border-radius: 6px;
  width: 100%;
}

.content-card {
  border-radius: 14px;
  border-color: white;
  background-color: white;
}
