<div id="<%= dom_id course %>">
  <div>
    <strong>Title:</strong>
    <%= course.title %>
  </div>

  <div>
    <strong>Subtitle:</strong>
    <%= course.subtitle %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= course.description %>
  </div>

</div>
