<div class="min-h-10 hn:hidden">
  <%= render "layouts/lms/back_navigation", path: post_path(:step1) %>
</div>
<div class="container max-w-4xl mx-auto p-4">
  <div class="flex space-x-1.5 mt-10 mb-10 md:mb-1 justify-center">
    <div class="w-3 h-3 rounded-full bg-gray-300 mb-4"></div>
    <div class="w-3 h-3 rounded-full bg-gray-500 mb-4"></div>
  </div>
  <div class="flex flex-col gap-4 md:flex-row">
    <div class="flex flex-col gap-6 items-center justify-center">
      <h1 class="text-center md:text-left">
        ขั้นตอนง่าย ๆ ก่อนกดสร้างคอนเทนต์
      </h1>
      <ul class="list-decimal ml-6 px-1 space-y-1 md:w-full" >
        <li>เลือกประเภทของคอนเทนต์</li>
        <li>สร้างคอนเทนต์ของคุณ 🚀</li>
        <li>เลือก Competency ที่ตรงที่สุด (1–2 ด้าน)</li>
      </ul>
      <strong class="text-sm font-bold hidden md:block">Tip: ถ้าไม่มั่นใจว่าคอนเทนต์คุณเข้ากับด้านไหน ให้ถามตัวเองว่า “ผู้เรียนจะได้สกิลอะไรกลับไป?”</strong>
    </div>
    <div class="pb-4">
      <%= image_tag "image-step2.png", class: "scale-[0.7] max-w-sm mx-auto", style: "filter: grayscale(100%);" %>
      <strong class="text-sm mb-4 block md:hidden">Tip: ถ้าไม่มั่นใจว่าคอนเทนต์คุณเข้ากับด้านไหน ให้ถามตัวเองว่า “ผู้เรียนจะได้สกิลอะไรกลับไป?”</strong>
      <%= link_to "เริ่มสร้างคอนเทนต์กันเลย", next_wizard_path, class: "block w-full text-center py-3 rounded-lg bg-gray-800 text-white font-bold" %>
    </div>
  </div>
</div>
