<div class="flex-1 flex flex-col justify-between items-center px-8 pb-12">
  <div class="w-full max-w-md text-start mb-6">
    <div class="flex flex-row space-x-1.5 mt-10 justify-center">
        <div class="w-1.5 h-1.5 rounded-full bg-gray-500 mb-4"></div>
        <div class="w-1.5 h-1.5 rounded-full bg-gray-300 mb-4"></div>
    </div>
    <h1 class="text-lg font-bold mb-4 mt-3">
      เรื่องที่ต้องรู้ก่อนสร้างคอนเทนท์ WolfHack?
    </h1>
    <ul class="list-disc text-left px-5 space-y-2 text-sm">
      <li>เพื่อให้คอนเทนต์ที่สร้าง ตรงประเด็นและมีคุณค่าสำหรับผู้อ่าน</li>
      <li>ผู้เรียนเข้าใจได้ว่า คอนเทนต์นี้พัฒนา Competency ด้านใด</li>
      <li>ช่วยให้เกิดการต่อยอดการพัฒนาความรู้ และวัดผลได้</li>
    </ul>
  </div>

  <div class="flex justify-center item-center w-full mb-8">
    <%= image_tag "image-step1.png", class: "rounded-lg max-w-sm", style: "filter: grayscale(100%);" %>
    </div>

  <div class="w-full max-w-md">
    <%= link_to "ต่อไป", next_wizard_path,
      class: "block w-full text-center text-md py-3 rounded-sm bg-zinc-500 text-white font-semibold" %>
  </div>
</div>
